/* Color Define ***********************************************************************************************************************************************/
$colorNeutral1: #ffffff;
$colorNeutral2: #f9fafb;
$colorNeutral3: #eaedf0;
$colorNeutral4: #cdd3db;
$colorNeutral5: #94a3b8;
$colorNeutral6: #64748b;
$colorNeutral7: #475569;
$colorNeutral8: #334155;
$colorNeutral9: #1e293b;
$colorNeutral10: #0f1629;

$colorGreen1: #f6fee9;
$colorGreen2: #edfdd4;
$colorGreen3: #d6fcaa;
$colorGreen4: #b7f67e;
$colorGreen5: #98ee5d;
$colorGreen6: #6be42b;
$colorGreen7: #4dc41f;
$colorGreen8: #34a415;
$colorGreen9: #20840d;
$colorGreen10: #116d08;

$colorOrange1: #fffaeb;
$colorOrange2: #fff5d6;
$colorOrange3: #ffe7ae;
$colorOrange4: #ffd686;
$colorOrange5: #ffc668;
$colorOrange6: #ffab36;
$colorOrange7: #db8827;
$colorOrange8: #b7681b;
$colorOrange9: #934c11;
$colorOrange10: #7a380a;

$colorRed1: #fff1ea;
$colorRed2: #fee3d5;
$colorRed3: #fec1ac;
$colorRed4: #fd9782;
$colorRed5: #fc7063;
$colorRed6: #fb3030;
$colorRed7: #d72332;
$colorRed8: #b41833;
$colorRed9: #910f31;
$colorRed10: #78092f;

$colorBlue1: #eff9ff;
$colorBlue2: #dff3ff;
$colorBlue3: #bfe5ff;
$colorBlue4: #9fd4ff;
$colorBlue5: #87c4ff;
$colorBlue6: #5fa9ff;
$colorBlue7: #4583db;
$colorBlue8: #2f62b7;
$colorBlue9: #1e4493;
$colorBlue10: #122f7a;

$colorPurple1: #ffebfc;
$colorPurple2: #fed6fa;
$colorPurple3: #fdaefb;
$colorPurple4: #f585fa;
$colorPurple5: #e466f6;
$colorPurple6: #cc35f1;
$colorPurple7: #a126cf;
$colorPurple8: #7a1aad;
$colorPurple9: #58108b;
$colorPurple10: #3f0a73;

$colorCyan1: #e9fef3;
$colorCyan2: #d4fde6;
$colorCyan3: #a9fcd5;
$colorCyan4: #7df6c9;
$colorCyan5: #5becc5;
$colorCyan6: #29e1c0;
$colorCyan7: #1dc1b3;
$colorCyan8: #14a0a2;
$colorCyan9: #0d7682;
$colorCyan10: #07586c;

$colorYellow1: #fffee5;
$colorYellow2: #fff4c7;
$colorYellow3: #ffe88a;
$colorYellow4: #ffde5c;
$colorYellow5: #ffd52e;
$colorYellow6: #ffcc00;
$colorYellow7: #e0b400;
$colorYellow8: #b38f00;
$colorYellow9: #947600;
$colorYellow10: #755e00;

$colorPink1: #ffece9;
$colorPink2: #fed9d4;
$colorPink3: #feabaa;
$colorPink4: #fc7f8a;
$colorPink5: #fa5f7b;
$colorPink6: #f72b64;
$colorPink7: #d41f63;
$colorPink8: #b1155f;
$colorPink9: #8f0d57;
$colorPink10: #760852;

$colorGeekBlue1: #e8edff;
$colorGeekBlue2: #d2dcfe;
$colorGeekBlue3: #a5b7fe;
$colorGeekBlue4: #7891fc;
$colorGeekBlue5: #5672fa;
$colorGeekBlue6: #1f41f7;
$colorGeekBlue7: #1631d4;
$colorGeekBlue8: #0f23b1;
$colorGeekBlue9: #09188f;
$colorGeekBlue10: #051076;

$colorTeal1: #e7fffa;
$colorTeal2: #cffef5;
$colorTeal3: #a0fdf2;
$colorTeal4: #70f9f4;
$colorTeal5: #4cecf4;
$colorTeal6: #14d2ed;
$colorTeal7: #0ea5cb;
$colorTeal8: #0a7daa;
$colorTeal9: #065989;
$colorTeal10: #034171;

/* Shared Variable ********************************************************************************************************************************************/
$fontFamily: "Google Sans";

$colorPrimary1: #e5ebff;
$colorPrimary2: #b2c4ff;
$colorPrimary3: #658aff;
$colorPrimary4: #194fff;
$colorPrimary5: #0036e5;
$colorPrimary6: #002ab2;
$colorPrimary7: #002393;
$colorPrimary8: #001f84;
$colorPrimary9: #001865;
$colorPrimary10: #001147;

$colorSecondary1: #eaf6ff;
$colorSecondary2: #b7e1ff;
$colorSecondary3: #84ccff;
$colorSecondary4: #51b7ff;
$colorSecondary5: #1ea2ff;
$colorSecondary6: #0089ea;
$colorSecondary7: #0077cb;
$colorSecondary8: #0065ad;
$colorSecondary9: #00538e;
$colorSecondary10: #004170;

$colorBackground1: #f3f6ff;
