* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#__next {
    height: 100%;
}

.page-container {
    display: flex;
    padding: 20px;
}

.page-title {
    font-size: 36px;
    font-weight: bold;
}
