@import "@app/styles/_variable.scss";

.pwAnchor.normal {
  color: $colorPrimary5;
  cursor: pointer;
  text-decoration: none;
}

/* Responsive *************************************************************************************************************************************************/
