@import '@app/styles/_variable.scss';
@import '@app/styles/_mixin.scss';

.modal-dialog {
    min-width: max(360px, 80vw);
}

.modal-title {
    @include fontSize(2.2rem);
    font-weight: 500;
    margin: 12px 10px;
}
