@import '@app/styles/_variable.scss';
@import '@app/styles/_mixin.scss';

#content_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .span {
        &_1 {
            position: absolute;
            left: 1.6rem;
            bottom: -1.2rem;
            padding: 0.4rem 0.8rem;
            @include fontSize(1.2rem);
            text-transform: capitalize;
        }

        &_2 {
            margin-bottom: 0.8rem;
            width: 100%;
            color: $colorNeutral9;
            @include fontSize(1.8rem);
            font-weight: 700;
            text-transform: uppercase;
        }

        &_3 {
            width: 50%;
            color: $colorNeutral5;
            @include fontSize(1.2rem);
        }

        &_4 {
            width: 50%;
            @include fontSize(1.4rem);
            font-weight: 700;
        }

        &_5 {
            height: 2rem;
            color: $colorNeutral5;
            @include fontSize(1.2rem);
            font-weight: 500;
        }

        &_6 {
            height: 2rem;
            color: $colorPrimary5;
            @include fontSize(1.4rem);
            font-weight: 700;
        }
    }

    .button {
        &_1 {
            align-self: flex-end;
            width: 50%;
            @include fontSize(1.4rem);
            font-weight: 400;
        }
    }

    .image {
        &_1 {
            img {
                width: 100%;
                height: 300px;

                border-radius: 0.8rem;

                object-fit: cover;
                object-position: 50% 0%;
            }
        }
    }

    .div {
        &_1 {
            position: relative;
        }

        &_2 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 2.6rem 1.6rem 2.4rem 1.6rem;
            background: $colorNeutral1;
        }

        &_3 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 1.2rem 1.6rem;
            height: 6.4rem;
            background: #f3f6ff;
            border-radius: 0 0 0.8rem 0.8rem;
        }
    }

    .item {
        &_1 {
            width: calc(50% - 1.2rem);
            border: 1px solid $colorBackground1;
            border-radius: 0.8rem;

            &:hover {
                box-shadow: 0 0 3rem rgba(178, 196, 255, 0.2);
            }

            &.disabled {
                .image_1,
                .span_1 {
                    filter: grayscale(100%);
                }

                .span_4,
                .span_6 {
                    color: $colorNeutral10;
                }
            }
        }
    }
}

/* Responsive *************************************************************************************************************************************************/
@media screen and (min-width: 1100px) and (max-width: 1300px), screen and (min-width: 600px) and (max-width: 700px) {
    #content_wrapper {
        .span {
            &_2 {
                @include fontSize(1.6rem);
            }

            &_3,
            &_4 {
                @include fontSize(1.2rem);
            }
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 1100px), screen and (max-width: 600px) {
    #content_wrapper {
        .item {
            &_1 {
                width: 100%;

                &:not(:last-of-type) {
                    margin-bottom: 2.4rem;
                }
            }
        }
    }
}
